/* Place your CSS styles in this file */

img[alt="www.000webhost.com"]{display:none}

.textstyle {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-weight: normal;
}
 body {
    background-color: black;
}

.mainheader {
    color: greenyellow;
    margin-top: 50px;
}

.maintext {
    color: rgb(0, 200, 255);
    max-width: 350px;
    margin:auto;
}

.TSA2 {
    color: red
}

.desc {
     text-align: center;
    color: yellow;
    max-width: 250px;
    margin: auto;
}

.leftimage {
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}


.buttonindex {
    background-color: white;
    border: none;
    color: green;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.buttonindex:hover {
    background-color: gray;
    border: none;
    color: red;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}



.headerbut2 {
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
    border: none;
    color: #ffffff;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.headerbut2:hover {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(158, 158, 158);
    border: none;
    color: rgb(255, 0, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.headerbut1 {
    position: absolute;
    right: 128px;
    top: 0;
    background-color: green;
    border: none;
    color: #ffffff;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.headerbut1:hover {
    position: absolute;
    right: 128px;
    top: 0;
    background-color: rgb(158, 158, 158);
    border: none;
    color: rgb(255, 0, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

/* Normal white Button as seen on Google.com*/
button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 35px 40px;
    border-radius: 2px;
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    font-size: 14pt;
    outline: none;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

/* Blue button as seen on translate.google.com*/
button.blue {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}

button.blue:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

button.blue:active {
    box-shadow: inset 0 2px 5px #2370FE;   
}

/* Orange button as seen on blogger.com*/
button.orange {
    color: white;
    border: 1px solid #FB8F3D; 
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

button.orange:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B); 
    background: -moz-linear-gradient(top, #FD924C, #F9760B); 
    background: -ms-linear-gradient(top, #FD924C, #F9760B); 
    box-shadow: 0 1px #EFEFEF;
}

button.orange:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

/* Red Google Button as seen on drive.google.com */
button.red {
    background: -webkit-linear-gradient(top, #DD4B39, #D14836); 
    background: -moz-linear-gradient(top, #DD4B39, #D14836); 
    background: -ms-linear-gradient(top, #DD4B39, #D14836); 
    border: 1px solid #DD4B39;
    color: white;
    text-shadow: 0 1px 0 #C04131;
}

button.red:hover {
     background: -webkit-linear-gradient(top, #DD4B39, #C53727);
     background: -moz-linear-gradient(top, #DD4B39, #C53727);
     background: -ms-linear-gradient(top, #DD4B39, #C53727);
     border: 1px solid #AF301F;
}

button.red:active {
     box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(top, #D74736, #AD2719);
    background: -moz-linear-gradient(top, #D74736, #AD2719);
    background: -ms-linear-gradient(top, #D74736, #AD2719);
}